// <ШРИФТЫ>

// <Подключение шрифта>
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap");
// </Подключение шрифта>

// <Шрифт по умолчанию>
$font-family: "Roboto";
// </Шрифт по умолчанию>

// <Доп шрифты>
// </Доп шрифты>

// </ШРИФТЫ>

// </ПЕРЕМЕННЫЕ>

$min-width: 320px;

$primarycolor: #fff;
$secondarycolor: yellowgreen;
$blackcolor: #000;

// </ПЕРЕМЕННЫЕ>

// <ОБНУЛЕНИЕ>
@import "null";
// </ОБНУЛЕНИЕ>

//<ОБОЛОЧКА>
.wrapper {
	overflow: hidden;
	min-height: 100%;
}
//</ОБОЛОЧКА>

//<ОСНОВНАЯ СЕТКА>
.container {
	max-width: 1600px;
	margin: 0 auto;
	padding: 0px 15px;
}
//</ОСНОВНАЯ СЕТКА>

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>
@import "ui";
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>

//<ОСНОВНОЙ БЛОК>
.page {
	position: absolute;
	width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
	display: flex;
	flex-direction: column;
	background-color: rgb(42, 38, 38);
}

//Кнопки===========================

.functions {
	&__row {
		padding: 50px 0px 50px 0px;
		display: flex;
		justify-content: center;
		column-gap: 40px;
		row-gap: 40px;
		flex-wrap: wrap;
	}

	&__columns {
		flex: 0 1 20%;
		min-height: 100%;
	}

	&__button {
		background-color: $secondarycolor;
		height: 100px;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 2px 2px 10px 2px rgb(34, 34, 33);
		transition: all 0.5s ease 0s;
		&_add {
			&:hover {
				box-shadow: 0px 0px 10px 2px $secondarycolor;
				transition: all 0.5s ease 0s;
			}
		}
		&_transform {
			background-color: rgb(224, 148, 48);
			&:hover {
				box-shadow: 0px 0px 10px 2px rgb(224, 148, 48);
			}
		}
		&_delete {
			background-color: rgb(190, 45, 45);
			&:hover {
				box-shadow: 0px 0px 10px 2px rgb(190, 45, 45);
			}
		}
		&:active {
			box-shadow: 0px 0px 4px 4px rgba(34, 34, 33, 0.5) inset;
		}
	}

	&__text {
		padding: 10px;
		font-size: 30px;
		color: rgb(42, 38, 38);
	}

	@media (max-width: 560px) {
		&__row {
			padding: 20px 0px 20px 0px;
		}

		&__columns {
			flex: 0 1 40%;
			min-height: 100%;
		}
	}
}

//Поле для спама

.spamming-area {
	&__row {
		padding: 50px 0px 50px 0px;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		row-gap: 50px;
		justify-content: center;
	}

	&__column {
		flex: 0 1 10%;
		padding: 0 15px;
		opacity: 0;
		transition: all 0.5s ease 0s;
		&_show {
			transition: all 0.5s ease 0s;
			opacity: 1;
		}
	}

	&__element {
		margin: 0 auto;
		height: 100px;
		width: 100px;
		background-color: $secondarycolor;
		transition: all 0.5s ease 0s;
		&_round {
			border-radius: 50%;
			transition: all 0.5s ease 0s;
		}
		&_triangle {
			transition: all 0.5s ease 0s;
			background-color: transparent;
			height: 0px;
			width: 0px;
			border-left: 50px solid transparent;
			border-right: 50px solid transparent;
			border-bottom: 100px solid $secondarycolor;
		}
	}

	@media (max-width: 560px) {
		&__element {
			height: 50px;
			width: 50px;
		}

		&__element {
			&_triangle {
				border-left: 25px solid transparent;
				border-right: 25px solid transparent;
				border-bottom: 50px solid $secondarycolor;
			}
		}
	}
}

//</ОСНОВНОЙ БЛОК>

.scrollUp {
	position: fixed;
	bottom: 50px;
	right: 50px;
	&__body {
		background-color: $primarycolor;
		width: 100px;
		height: 100px;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		box-shadow: 0px 0px 10px 10px rgb(34, 34, 33);
		transition: all 0.5s ease 0s;
		&:hover {
			box-shadow: 0px 0px 10px 6px rgba(255, 255, 255, 0.5);
			transition: all 0.5s ease 0s;
		}
		&:active {
			box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5) inset;
			transition: all 0.5s ease 0s;
		}
		i {
			color: rgb(42, 38, 38);
			font-size: 50px;
		}
	}

	@media (max-width: 560px) {
		bottom: 25px;
		right: 25px;
		&__body {
			width: 50px;
			height: 50px;
			box-shadow: 0px 0px 5px 2px rgb(34, 34, 33);
			&:hover {
				box-shadow: 0px 0px 10px 3px rgba(255, 255, 255, 0.5);
			}
			&:active {
				box-shadow: 0px 0px 3px 5px rgba(0, 0, 0, 0.5) inset;
			}
			i {
				font-size: 24px;
			}
		}
	}
}
